# Primera entrega ML

### Título de proyecto

<h1><strong><span style="color: #fc9003"> Tasador de coches online

### Tema

<h3><span style="color: #fcba03"> Facilitar el valor económico aproximado de la venta de un coche

------------------------------------------------------------------------------------------------------------
<h5><span style="color: #fcba03"> Muchos usuarios buscan obtener un valor de forma rápida para alentarse a vender su coche, de esta forma proporcionamos una herramienta accesible para ello.

### Datasets y fuentes alternativas de datos
Incluye aquí una breve descripción del dataset o datasets para tu proyecto. Incluye también las fuentes de cada uno de ellos.

<h4><span style="color: #fcba03"> Tipo ML: <strong> Regresión </strong><br>
Target: <strong> Precio </strong><br>
Métricas: <strong> MAE </strong></span></h4>

<h4><span style="color: #fcba03">Enlaces: </span><a href> https://www.flexicar.es/coches-segunda-mano/ </a>

<h4><span style="color: #fcba03">Conjuntos de datos sin limpiar:

In [2]:
import pandas as pd
df_1 = pd.read_json('Data/raw/flexidata.json')
df_1.head()

,Marca,Modelo,Versión,Año,Kilómetros,Combustible,Puertas,Cilindrada,Potencia (cv),Transmisión,Consumo l/100,Precio,Enlace
0,Mitsubishi,ASX,160 MPI Motion,2019.0,47413.0,Gasolina,5.0,1600.0,117.0,Manual,6.6,18990.0,https://www.flexicar.es/coches-ocasion/mitsubi...
1,Mercedes,B,B 200 d,2019.0,40800.0,Diésel,5.0,2100.0,136.0,Automática,5.3,21990.0,https://www.flexicar.es/coches-ocasion/mercede...
2,Renault,Captur,Zen TCe 66kW (90CV),2019.0,62122.0,Gasolina,5.0,900.0,90.0,Manual,5.4,12990.0,https://www.flexicar.es/coches-ocasion/renault...
3,SEAT,Leon,1.5 TSI 110kW S&S FR,2022.0,5338.0,Gasolina,5.0,1500.0,150.0,Manual,5.7,20490.0,https://www.flexicar.es/coches-ocasion/seat-le...
4,Peugeot,2008,Active Pack BlueHDI 81kW (110CV),2021.0,58885.0,Diésel,5.0,1500.0,110.0,Manual,3.6,14490.0,https://www.flexicar.es/coches-ocasion/peugeot...

In [3]:
df_2 = pd.read_json('Data/raw/flexidata2.json')
df_2.head()

,Marca,Modelo,Año,Kilómetros,Combustible,Cilindrada,Potencia (cv),Transmisión,Consumo l/100,Precio
0,Peugeot,208,2015,72090,Gasolina,1200,110,Manual,4.5,9990
1,Peugeot,208,2015,72090,Gasolina,1200,110,Manual,4.5,9990
2,Peugeot,208,2015,72090,Gasolina,1200,110,Manual,4.5,9990
3,Volkswagen,Touran,2017,116801,Diésel,1600,115,Manual,4.4,14990
4,Volkswagen,Golf,2014,104198,Diésel,2000,184,Automática,4.5,16190

In [4]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2578 entries, 0 to 2577
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Marca          2578 non-null   object
 1   Modelo         2578 non-null   object
 2   Versión        2574 non-null   object
 3   Año            2574 non-null   float64
 4   Kilómetros     2574 non-null   float64
 5   Combustible    2574 non-null   object
 6   Puertas        2574 non-null   float64
 7   Cilindrada     2574 non-null   float64
 8   Potencia (cv)  2574 non-null   float64
 9   Transmisión    2574 non-null   object
 10  Consumo l/100  2485 non-null   float64
 11  Precio         2574 non-null   float64
 12  Enlace         2578 non-null   object
dtypes: float64(7), object(6)
memory usage: 262.0+ KB

In [5]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2333 entries, 0 to 2332
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Marca          2333 non-null   object
 1   Modelo         2333 non-null   object
 2   Año            2333 non-null   int64
 3   Kilómetros     2333 non-null   int64
 4   Combustible    2333 non-null   object
 5   Cilindrada     2333 non-null   int64
 6   Potencia (cv)  2333 non-null   int64
 7   Transmisión    2333 non-null   object
 8   Consumo l/100  2323 non-null   float64
 9   Precio         2333 non-null   int64
dtypes: float64(1), int64(5), object(4)
memory usage: 182.4+ KB