<h2><strong> LIMPIEZA DE DATOS Y PREPARACIÓN DEL DATAFRAME

<h4> Instalamos los paquetes que se requieran

In [ ]:
# pip install jupyterlab
# pip install pandas

<h4> Importamos las librerías necesarias para limpiar y manipular los datos:

In [4]:
import pandas as pd
import numpy as np

<h4> Cargamos los datos que tenemos sin limpiar y vemos si coinciden sus columnas:

In [6]:
df = pd.read_json('../Data/raw/flexidata.json')

In [7]:
df_2 = pd.read_json('../Data/raw/flexidata2.json')

In [8]:
df.columns

Index(['Marca', 'Modelo', 'Versión', 'Año', 'Kilómetros', 'Combustible',
       'Puertas', 'Cilindrada', 'Potencia (cv)', 'Transmisión',
       'Consumo l/100', 'Precio', 'Enlace'],
      dtype='object')

In [9]:
df_2.columns

Index(['Marca', 'Modelo', 'Año', 'Kilómetros', 'Combustible', 'Cilindrada',
       'Potencia (cv)', 'Transmisión', 'Consumo l/100', 'Precio'],
      dtype='object')

<h4> Eliminamos las columnas de más en 'df' y los datos nulos (Nan) en ambos conjuntos:

In [11]:
df = df.drop(columns=['Versión', 'Puertas', 'Enlace'], axis=1)

In [31]:
df = df.dropna()
df_2 = df_2.dropna()

In [15]:
df.head()

,Marca,Modelo,Año,Kilómetros,Combustible,Cilindrada,Potencia (cv),Transmisión,Consumo l/100,Precio
0,Mitsubishi,ASX,2019.0,47413.0,Gasolina,1600.0,117.0,Manual,6.6,18990.0
1,Mercedes,B,2019.0,40800.0,Diésel,2100.0,136.0,Automática,5.3,21990.0
2,Renault,Captur,2019.0,62122.0,Gasolina,900.0,90.0,Manual,5.4,12990.0
3,SEAT,Leon,2022.0,5338.0,Gasolina,1500.0,150.0,Manual,5.7,20490.0
4,Peugeot,2008,2021.0,58885.0,Diésel,1500.0,110.0,Manual,3.6,14490.0

In [32]:
df_2.head()

,Marca,Modelo,Año,Kilómetros,Combustible,Cilindrada,Potencia (cv),Transmisión,Consumo l/100,Precio
0,Peugeot,208,2015,72090,Gasolina,1200,110,Manual,4.5,9990
1,Peugeot,208,2015,72090,Gasolina,1200,110,Manual,4.5,9990
2,Peugeot,208,2015,72090,Gasolina,1200,110,Manual,4.5,9990
3,Volkswagen,Touran,2017,116801,Diésel,1600,115,Manual,4.4,14990
4,Volkswagen,Golf,2014,104198,Diésel,2000,184,Automática,4.5,16190

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2485 entries, 0 to 2577
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Marca          2485 non-null   object
 1   Modelo         2485 non-null   object
 2   Año            2485 non-null   float64
 3   Kilómetros     2485 non-null   float64
 4   Combustible    2485 non-null   object
 5   Cilindrada     2485 non-null   float64
 6   Potencia (cv)  2485 non-null   float64
 7   Transmisión    2485 non-null   object
 8   Consumo l/100  2485 non-null   float64
 9   Precio         2485 non-null   float64
dtypes: float64(6), object(4)
memory usage: 213.6+ KB

In [33]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2323 entries, 0 to 2332
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Marca          2323 non-null   object
 1   Modelo         2323 non-null   object
 2   Año            2323 non-null   int64
 3   Kilómetros     2323 non-null   int64
 4   Combustible    2323 non-null   object
 5   Cilindrada     2323 non-null   int64
 6   Potencia (cv)  2323 non-null   int64
 7   Transmisión    2323 non-null   object
 8   Consumo l/100  2323 non-null   float64
 9   Precio         2323 non-null   int64
dtypes: float64(1), int64(5), object(4)
memory usage: 199.6+ KB

<h4> Cambiamos los 'dtypes' de las columnas en 'df' para que coincidan, nos interesa el formato del segundo dataframe.

In [24]:
df['Año'] = df['Año'].astype('Int64')
df['Kilómetros'] = df['Kilómetros'].astype('Int64')
df['Cilindrada'] = df['Cilindrada'].astype('Int64')
df['Potencia (cv)'] = df['Potencia (cv)'].astype('Int64')
df['Precio'] = df['Precio'].astype('Int64')

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2485 entries, 0 to 2577
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Marca          2485 non-null   object
 1   Modelo         2485 non-null   object
 2   Año            2485 non-null   Int64
 3   Kilómetros     2485 non-null   Int64
 4   Combustible    2485 non-null   object
 5   Cilindrada     2485 non-null   Int64
 6   Potencia (cv)  2485 non-null   Int64
 7   Transmisión    2485 non-null   object
 8   Consumo l/100  2485 non-null   float64
 9   Precio         2485 non-null   Int64
dtypes: Int64(5), float64(1), object(4)
memory usage: 225.7+ KB

<h4> Concatenamos los dos conjuntos en uno solo y exploramos sus columnas:

In [80]:
data = pd.concat([df, df_2], ignore_index= True)

In [81]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4808 entries, 0 to 4807
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Marca          4808 non-null   object
 1   Modelo         4808 non-null   object
 2   Año            4808 non-null   Int64
 3   Kilómetros     4808 non-null   Int64
 4   Combustible    4808 non-null   object
 5   Cilindrada     4808 non-null   Int64
 6   Potencia (cv)  4808 non-null   Int64
 7   Transmisión    4808 non-null   object
 8   Consumo l/100  4808 non-null   float64
 9   Precio         4808 non-null   Int64
dtypes: Int64(5), float64(1), object(4)
memory usage: 399.2+ KB

In [82]:
data['Marca'].unique()

array(['Mitsubishi', 'Mercedes', 'Renault', 'SEAT', 'Peugeot', 'Hyundai',
       'Kia', 'Volkswagen', 'Fiat', 'Ford', 'Dacia', 'Toyota', 'BMW',
       'Alfa', 'Citroen', 'Jeep', 'Nissan', 'Opel', 'Audi', 'Mazda', 'DS',
       'Lexus', 'Volvo', 'Land', 'Mini', 'Skoda', 'Cupra', 'Suzuki',
       'Honda', 'Ssangyong', 'Smart', 'Infiniti', 'MG', 'Jaguar',
       'Ligier', 'Abarth', 'Chevrolet', 'Subaru', 'Porsche', 'Chrysler',
       'Iveco', 'Lancia', 'Maserati'], dtype=object)

<h4> Investigamos en las marcas desconocidas, luego decidimos si eliminarlas

In [83]:
data[data['Marca']== 'Ligier']

,Marca,Modelo,Año,Kilómetros,Combustible,Cilindrada,Potencia (cv),Transmisión,Consumo l/100,Precio
715,Ligier,M.GO,2021,2500,Diésel,500,10,Automática,7.4,8990

In [84]:
data[data['Marca']== 'Iveco']

,Marca,Modelo,Año,Kilómetros,Combustible,Cilindrada,Potencia (cv),Transmisión,Consumo l/100,Precio
3896,Iveco,Daily,2017,113456,Diésel,2300,156,Manual,10.5,19990

In [85]:
data[data['Marca']== 'Lancia']

,Marca,Modelo,Año,Kilómetros,Combustible,Cilindrada,Potencia (cv),Transmisión,Consumo l/100,Precio
4358,Lancia,Ypsilon,2016,32000,Gasolina,1200,69,Manual,5.2,9990
4699,Lancia,Ypsilon,2017,29890,Gasolina,1200,69,Manual,5.2,7290

In [86]:
data = data.drop(index=[715,3896,4358,4699])

In [87]:
data['Año'].unique()

<IntegerArray>
[2019, 2022, 2021, 2020, 2023, 2015, 2017, 2014, 2013, 2016, 2012, 2011, 2009,
 2010]
Length: 14, dtype: Int64

In [88]:
data['Combustible'].unique()

array(['Gasolina', 'Diésel', 'Híbrido', 'GLP'], dtype=object)

<h4> Aplicamos algunas máscaras para ver si existe algún valor fuera de rango (outlier):

In [91]:
data[(data['Potencia (cv)'] <= 60) | (data['Potencia (cv)'] >= 500)]

,Marca,Modelo,Año,Kilómetros,Combustible,Cilindrada,Potencia (cv),Transmisión,Consumo l/100,Precio
2624,SEAT,Mii,2017,39990,Gasolina,1000,60,Manual,4.4,8990
2924,Volkswagen,Polo,2016,99996,Gasolina,1000,60,Manual,4.7,10990
3348,SEAT,Mii,2017,7494,Gasolina,1000,60,Manual,4.4,8990
3841,Volkswagen,Polo,2015,54248,Gasolina,1000,60,Manual,4.7,9190
4728,Mercedes,C,2017,69983,Gasolina,4000,510,Automática,8.2,49990

In [92]:
data[(data['Cilindrada'] <= 800) | (data['Cilindrada'] >= 5000)]

,Marca,Modelo,Año,Kilómetros,Combustible,Cilindrada,Potencia (cv),Transmisión,Consumo l/100,Precio
714,BMW,1,2021,36000,Gasolina,15000,136,Manual,4.7,23490
3128,Ford,Mustang,2017,33335,Gasolina,5000,418,Automática,12.0,28290

<h4> La fila 734 tiene un outlier, sin duda un valor falso, exploramos el dato un poco más:

In [93]:
data.loc[714, 'Cilindrada']

15000

<h4> Comprobamos que el valor que corresponde a esa celda es de 2000 para dicho modelo y lo modificamos:

In [94]:
data[data['Marca']== 'BMW']

,Marca,Modelo,Año,Kilómetros,Combustible,Cilindrada,Potencia (cv),Transmisión,Consumo l/100,Precio
25,BMW,X4,2019,34452,Diésel,2000,190,Automática,5.4,36990
48,BMW,1,2020,44990,Diésel,2000,150,Automática,4.7,27790
60,BMW,X2,2019,50405,Diésel,1500,116,Manual,4.3,23990
192,BMW,1,2022,6000,Diésel,2000,150,Manual,4.7,29490
253,BMW,1,2022,11440,Diésel,2000,150,Manual,4.7,28990
...,...,...,...,...,...,...,...,...,...,...
4710,BMW,X5,2017,193045,Diésel,2000,231,Automática,5.3,22990
4732,BMW,1,2016,127000,Diésel,2000,190,Automática,4.1,21990
4752,BMW,4,2015,67000,Diésel,3000,313,Automática,5.4,24490
4797,BMW,3,2017,66793,Diésel,2000,150,Automática,4.0,16890
4801,BMW,1,2014,60000,Diésel,2000,143,Automática,4.4,13090

In [95]:
data.loc[714, 'Cilindrada'] = 2000

In [96]:
data[(data['Cilindrada'] <= 800) | (data['Cilindrada'] >= 5000)]

,Marca,Modelo,Año,Kilómetros,Combustible,Cilindrada,Potencia (cv),Transmisión,Consumo l/100,Precio
3128,Ford,Mustang,2017,33335,Gasolina,5000,418,Automática,12.0,28290

In [97]:
data['Transmisión'].unique()

array(['Manual', 'Automática'], dtype=object)

In [98]:
data[(data['Consumo l/100'] < 3.4) | (data['Consumo l/100'] > 9.0)]

,Marca,Modelo,Año,Kilómetros,Combustible,Cilindrada,Potencia (cv),Transmisión,Consumo l/100,Precio
55,Opel,Corsa,2020,26549,Diésel,1500,102,Manual,3.2,12990
63,Toyota,Corolla,2021,12369,Híbrido,1800,122,Automática,3.3,22990
100,Peugeot,308,2021,10000,Híbrido,1600,180,Automática,1.2,14990
130,Citroen,C3,2021,60100,Diésel,1500,102,Manual,3.2,12990
141,Mitsubishi,Cross,2021,62999,Híbrido,2400,188,Automática,2.0,17990
...,...,...,...,...,...,...,...,...,...,...
4584,Toyota,Yaris,2015,55582,Híbrido,1500,100,Automática,3.3,14490
4591,Opel,Corsa,2016,107820,Diésel,1200,95,Manual,3.3,6990
4608,Peugeot,308,2015,75171,Diésel,1600,120,Manual,3.1,9490
4687,Volkswagen,Golf,2015,135700,Diésel,1600,110,Manual,3.3,11720
4714,Nissan,Navara,2014,108804,Diésel,3000,231,Automática,9.5,18990

<h4> Jugando con las máscaras se ven algunas irregularidades entre los consumos, esto es debido a que la etiqueta 'híbrido' está compuesta de diferentes tipos de motores eléctricos auxiliares, lo que lleva a consumos discrepantes. Esto se podría arreglar especificando el tipo de motor híbrido (diversificando la etiqueta).

<h4> Llegados a este punto vale la pena guardar los datos completos antes de procesarlos para Machine Learning:

In [99]:
data.to_json('../Data/processed/data.json')